.gridcontainer {
display: inline-grid;
grid-template-columns:17.5% 17.5% 17.5% 17.5%;
background-color: #ffffff;
padding: 10px;
}

.griditem {
box-shadow: 3px 3px 2px grey;
background-color: rgba(255, 255, 255, 0.8);
border: 0.2px solid rgba(255, 255, 255, 1);
font-size: 20px;
margin-top:10px;
margin-left: 40px;
align-content: center;
align-items:center;
}

.griditem:hover {
  border-style: solid;
  border-width: thin;
  border-color: black;
}

.griditem2{
  box-shadow: 1px 1px 1px grey;
}
.griditem2:hover {
  border-style: solid;
  border-width: thin;
  border-color: grey;
}


.pagination {
  display: flex;
  float:bottom;
}

.pagination a {
  color: black;
  float: bottom;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

.misc{
	display:flex;
}
